<div class="row">
  <div class="p-5 col-md-8">
    <h2>Add Category</h2>
    <br>
    <br>
    <form action="/admin/add-category" method="POST" enctype="multipart/form-data" >
      <div class="form-group">
        <label for="">Category name</label>
        <input type="text" class="form-control" name="category" placeholder="" required>
      </div>
      <!-- File Button -->
      <!-- Button -->
      <div class="form-group">
        <label class="control-label" for="submit"></label>
        <div class="form-group">
          <button type="submit" class="btn btn-danger">Save</button>

        </div>

    </form>

  </div>
    
</div>